@model List<BasketProductViewModel>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">

            <div class="p-2"><h4>Basket</h4></div>

            @foreach (var item in Model)
            {
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="~/images/products/@item.ImageUrl" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">@item.Name</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">@item.Description</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <a asp-action="DecreaseProduct" asp-route-id="@item.Id"><i class="fa fa-minus text-danger"></i></a>
                        <h5 class="text-grey mt-1 mr-1 ml-1">@item.Count</h5>
                        <a asp-action="IncreaseProduct" asp-route-id="@item.Id"><i class="fa fa-plus text-success"></i></a>
                    </div>
                    <div>
                        <h5 class="text-grey">$@(item.Price * item.Count)</h5>
                    </div>
                    <div class="d-flex align-items-center"><a asp-action="Remove" asp-route-id="@item.Id"><i class="fa fa-trash mb-1 text-danger"></i></a></div>
                </div>
            }

            <a asp-controller="Basket" asp-action="Order" class="fe-text-align-center btn-newsletter" style="text-align:center; margin: 50px 0 0 0; color:white; text-decoration:none;">Proceed to pay</a>
       
        </div>
    </div>
</div>

<link href="~/css/shoppingcart.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
