@model List<ProductViewModel>
<p style="height: 20px"></p>

<section>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>@item.Name</td>
                        <td>@item.Price $</td>
                        <td><a class="buy" asp-route-id="@item.Id" asp-action="Delete">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script>
    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
</script>

<style>
    table{
        width:100%;
        table-layout: fixed;
    }
    .tbl-header{
        background-color: #20c997;
    }
    .tbl-content{
        height:100%;
        overflow-x:auto;
        margin-top: 0px;
        border: 1px solid #20c997;
    }
    th{
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
    }
    td{
        padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 1.2rem;
        color: #000;
        border-bottom: solid 1px #20c997;
    }

    body{
        background: transparent;
    }
    section{
        margin: 20px;
    }

    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
        width: 6px;
    } 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
</style>